
/*Login/Registration Styles*/

#app {
	background-color: #154b66;
	box-shadow: 0 1px 0 0 #ebeff3;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.estimate-login {
	width: 234px;
	height: 55px;
	font-family: Superclarendon, Helvetica, sans-serif;
	font-size: 46px;
	margin: auto;
	color: #1c98c9;
	margin-bottom: 15px;
}

.estimate-register {
	width: 234px;
	height: 55px;
	font-family: Superclarendon, Helvetica, sans-serif;
	font-size: 46px;
	margin: auto;
	color: #1c98c9;
	margin-bottom: 15px;
}

.formInput {
	width: 300px;
	height: 44px;
	border-radius: 30px;
	text-align: center;
	font-size: 18px;
	background-color: #ecfaf7;
	margin: 10px;
}

.passInput {
	width: 300px;
	height: 44px;
	border-radius: 30px;
	font-size: 18px;
	background-color: #ecfaf7;
	margin: 10px;
}

.loginTitle {
	font-weight: bold;
	font-size: 20px;
	color: #fefdfb;
	text-align: center;
	margin: auto;
	background: #457fca; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #457fca , #5691c8); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #457fca , #5691c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.registerForm {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 540px;
	height: 620px;
	background-color: #ffffff;
	box-shadow: 0 3px 10px 0 #8fc1d4;
	text-align: center;
	padding: 100px;
	margin: 20%;
}

.loginForm {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 540px;
	height: 500px;
	background-color: #ffffff;
	box-shadow: 0 3px 10px 0 #8fc1d4;
	text-align: center;
	padding: 100px;
	margin-top: 20%;
	margin-bottom: 30%;
}


/* Dashboard Styles */

.dashboard-welcome {
	font-size: 30px;
	color: #175d77;
	text-align: center;
	font-family: Superclarendon, Helvetica, sans-serif;
	padding-bottom: 20px;
}

.dashboard-titles {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	width: 500px;
	height: 36px;
	font-family: Source Sans Pro, Open Sans;
	font-size: 28px;
	color: #175d77;
}

.dashboard-buttons {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table-name {
	text-align: center;
	font-family: Source Sans Pro, Open Sans;
	font-size: 12px;
	font-weight: bold;
	color: #175d77;
}

#readOnlyHeader {
	text-align: center;
	margin: auto;
	font-size: 12px;
	color: #175d77;
	font-family: Source Sans Pro, Open Sans;
	box-shadow: 0 0 2px 0 #8fc1d4;
	width: 1160px;
	padding: 10px;
	background-color: #d7eff8;
}

#readOnlyBody > td {
	font-size: 14px;
	color: #175d77;
	cursor: pointer;
}

tr:hover > td {
	background-color: #ecfaf7;
	border-top: 1px solid #79e011;
	border-bottom: 1px solid #79e011;
	border-right: #ecfaf7;
	border-left: #ecfaf7;
}

.userList {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-around;
	flex-flow: row;
	padding: 5px;
	margin: 2px;

}

.addUserField {
	width: 300px;
	margin: auto;
	padding-bottom: 12px;
}

.addUserTitle {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}

.switchViewLink {
	margin-top: 15px;
}

h3 {
	padding-bottom: 12px;
	padding-top: 0px;
	/*text-align: center;*/
}

.button {
	width: 300px;
	height: 44px;
	border-radius: 30px;
	font-size: 18px;
	color: white;
	background-color: #84e0b8;
}

#modalButton {
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#passwordControl {
	width: 400px;
	margin:auto;
}

#settingsMain {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

#settingsOptional {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-flow: row;
	flex-flow: wrap;
}

#csvModalButton {
	float: right;
}

.reminder {
	font-size: 12px;
}

.chartSortSelector{
	font-size: 14px;
}
.settings {
	text-align: center;
}

.settingsMemberNode {
	display: inline-block;
	width: 200;
}
.settingsMemberNode-username {
	display: inline-block;;
	float: left;
}

.settingsMemberNode-perm {
	display: inline-block;
	width: auto;
}

#title {
	height: 100px;
	font-size: 50px;
	text-align: center;
	padding: 10px;
	background: #525252; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #525252 , #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#title a {
	color: #fefdfb;
}

#title a:hover {
	text-decoration: underline;
	color: #4CA1AF;
}

#title > h1 {
	font-size: 60px;
}

.titleHeader a {
	text-decoration: none;
}

#budgetCatSelect {
	width: 254px;
}
#newBudgetForm {
	width: 170px;
}
#newBudgetTotal {
	width: 160px;
}

.budgetCategorySelect {
	width: 258px;
}

.budgetNodeForm {
	width: 170px;
}

.budgetNodeTotal {
	width: 183px;
}


.budgetFormCata1 {
	width: 50%;
}

.budgetFormReqBudget {
	text-align: center;
}

#userInput {
	font-size: 17px;
	text-align: center;
	margin: auto;
	width: 400px;
}

.userLabel {
	font-family: Superclarendon, Helvetica, sans-serif;
	font-size: 17px;
	padding: none;
}

.usersSettings {
	float: right;
}

.welcome {
	text-align: center;
}

.expenseDate {
	width: 125px;
}

.navbar-inverse {
	background: #2c3e50; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2c3e50 , #3498db); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #2c3e50 , #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/*width: 1280px;*/
	/*height: 75px;*/
	box-shadow: 0 0 1px 0 #000000;
}

.nav-glyph {
	display: flex;
	align-items: center;
	height: 30px;
	color: #ffffff;
}

.nav-item {
	display: flex;
	align-items: center;
	height: 30px;
	font-family: Open Sans;
	font-size: 16px;
	color: #ffffff;
}

a:hover {
	text-decoration: none;
	color: #79e011;
}

a:active {
	color: #79e011;
}


.nav-title {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	width: 123px;
	height: 29px;
	font-family: Superclarendon, Open Sans;
	font-size: 25px;
	margin: 11px 20px 11px 0;
}

.testing {
	margin-left: 20px;
}

.testing1{
	width: 60px;
}

.userLabel {
	height: 15px;
	font-family: Helvetica, Lato, SourceSansPro;
	font-size: 18px;
	font-weight: bold;
	margin: 10px;
	color: #177599;
}
