
#loginHeader {
	text-align: center;
}

#loginPanel {
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#pitchButton {
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}


#title {
	text-align: center;
}

.testFormCenter {
	text-align: center;
}
