.addUserField {
	width: 300px;
	margin: auto;
	padding-bottom: 12px;
}

.addUserTitle {
	text-align: center;
	font-weight: bold;
}

.createOrgButton {
	margin-bottom: 12px;
	padding: 10px;
}

h3 {
	padding-bottom: 12px;
	padding-top: 0px;
	/*text-align: center;*/
}

.loginButton {
	text-align: center;
	margin: auto;
	width: 400px;
	padding-bottom: 3px;
}

#loginForm {
	padding: 20px;
}

#loginLabel {
	font-size: 17px;
}

#loginPanel {
	width: 450px;
	display: block;
	text-align: center;
	float: none;
	margin: auto;
	padding-top: 50px;
}

.loginTitle {
	font-weight: bold;
	font-size: 20px;
	color: #fefdfb;
	text-align: center;
	margin: auto;
	background: #457fca; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #457fca , #5691c8); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #457fca , #5691c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#modalButton {
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#passwordControl {
	width: 400px;
	margin:auto;
}

#settingsWindow {
	display:inline-block;
	padding-right: 30px;
}

#settingsMain {
	display: inline-block;
	float: left;
}

#settingsOptional {
	padding-left: 10px;
	display:inline-block;
}

#csvModalButton {
	float: right;
}

#readOnlyHeader > th {
	font-size: 14px;
}

#readOnlyBody > td {
	font-size: 14px;
}

.reminder {
	font-size: 12px;
}

.chartSortSelector{
	font-size: 14px;
}
.settings {
	text-align: center;
}

.settingsMemberNode {
	display: inline-block;
	width: 200;
}
.settingsMemberNode-username {
	display: inline-block;;
	float: left;
}

.settingsMemberNode-perm {
	display: inline-block;
	width: auto;
}

.budgetFormCata1 {
	width: 50%;
}

.testing1{
	width: 60px;
}

#title {
	height: 100px;
	font-size: 50px;
	text-align: center;
	padding: 10px;
	background: #525252; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #525252 , #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#title a {
	color: #fefdfb;
}

#title a:hover {
	text-decoration: underline;
	color: #136a8a;
}

#title > h1 {
	font-size: 60px;
}

.titleHeader a {
	text-decoration: none;
}

.budgetNodeForm {
	width: 170px;
}

.budgetNodeTotal {
	width: 130px;
}

#userInput {
	font-size: 17px;
	text-align: center;
	margin: auto;
	width: 400px;
}

.usersSettings {
	float: right;
}

.welcome {
	text-align: center;
}

.expenseDate {
	width: 125px;
}
/*.navbar-default {
	background-color: blue;
}*/
