#loginPanel {
	width: 500px;
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#modalButton {
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#title {
	text-align: center;
}

#settingsWindow {
	display:inline-block;
	padding-right: 30px;
}

#settingsMain {
	display: inline-block;
	float: left;
}

#settingsOptional {
	padding-left: 10px;
	display:inline-block;
}

#csvModalButton {
	float: right;
}

.settings {
	text-align: center;
}

.settingsMemberNode {
	display: inline-block;
	width: 200;
}
.settingsMemberNode-username {
	display: inline-block;;
	float: left;
}

.settingsMemberNode-perm {
	display: inline-block;
	width: auto;
}

.budgetFormCata1 {
		width: 50%;
}
.testing1{
	width: 60px;
}

.testing2 {
	width: 200px;
}