@import '_normalize.styl'
@import '_typography.styl'
@import '_animations.styl'

body
  background offwhite

.form
  width 50%
  margin auto
  border 0
  font-size 1.3rem
  padding 1rem
  border-bottom 1px solid lightgrey
  outline none
  resize vertical


/*
  Buttons
*/

.control-buttons
  display flex
  justify-content space-between

button, .button
  border 2px solid lighten(grey, 90%)
  background none
  flex-basis 48%
  display inline-block
  line-height 2
  text-decoration none
  padding 5px
  text-align center
  font-size 15px
  color blue
  transition all 0.2s
  box-sizing padding-box
  &:hover, &:focus
    border-color blue
    outline 0

.plus-button
  border none;
  background-color #fff;
  border 1px solid #ADD8E6;
  padding 0.5em;
  border-radius 3px;
  background-color #ADD8E6;
  color blue;
  display block;
  margin auto;
  position relative;
  float right;

.form__field-wrapper
  width 100%;
  position relative;
  padding-top 1.75em;
  border-top 1px solid $very-light-grey;
  border-bottom 1px solid $very-light-grey;
  background-color #fff;

.form__field-wrapper + .form__field-wrapper
  border-top none;

.form__field-input:focus ~ .form__field-label
  color $dark-grey;
  background-color $very-light-grey;

.form__field-input:focus
  background-color $very-light-grey;
  color $very-dark-grey;

.form__field-label
  position absolute;
  top 0;
  left 0;
  width 100%;
  padding 16px;
  padding-top 20px;
  padding-bottom 0;
  margin 0;
  z-index 1;
  font-size 1.2em;
  color $mid-grey;
  font-weight 400;
  user-select none;
  cursor text;

.form__field-input
  position relative;
  padding 1.625em 16px;
  width 100%;
  color $dark-grey;
  border none;
  outline 0;
  letter-spacing 0.05em;

.form__radio
  width 50%
  margin auto
  border 0
  font-size 1.3rem
  padding 1rem
  border-bottom 1px solid lightgrey
  outline none
  resize vertical

.form__submit-btn-wrapper
  padding 2em 1em;
  width 100%;
  background-color #fff;
  display flex;
  justify-content center;


.form__submit-btn
  background-color #fff;
  border 1px solid #2c96bf;
  padding 0.5em 1em;
  border-radius 3px;
  color #2c96bf;
  display block;
  margin 0 auto;
  position relative;

.form__error-wrapper
  display none;
  justify-content center;
  max-width calc(100% - 2em);
  margin 0 auto;
  margin-bottom 1em;


.form__error
  display none
  background-color $error-color;
  color white;
  margin 0;
  padding 0.5em 1em;
  font-size 0.8em;
  font-family $text-font-stack;
  user-select none;


/*
  form page
*/

.form-page__wrapper
  display flex;
  align-items center;
  justify-content center;
  height 100%;
  width 100%;

.form-page__form-wrapper
  max-width 325px;
  width 100%;
  border 1px solid $very-light-grey;
  border-radius 3px;
  box-shadow 0px 1px 3px rgba(0, 0, 0, 0.25);
  background-color #fff;

.form-page__form-heading
  text-align center;
  font-size 2em;
  user-select none;

.form-page__form-header
  padding 1em;

.dashboard
  text-align center;
  font-size 2em;
  user-select none;


/*
  RADIO BUTTONS
*/

.radio-div
  width 100%;
  height auto;
  margin auto;
  text-align center;

ul li
  background-color #fff;
  border 2px solid #2c96bf;
  padding 0px;
  border-radius 3px;
  color #2c96bf;
  display inline-block;
  margin auto;
  position relative;

ul li input[type=radio]
  position absolute;
  visibility hidden;

ul li label
  display block;
  position relative;
  font-weight 300;
  font-size 1.2em;
  padding 25px 25px 25px 50px;
  margin 10px auto;
  height 10px;
  z-index 0;
  cursor pointer;


ul li:hover label
	color blue;

ul li .check
  display inline-block;
  position absolute;
  border 5px solid #AAAAAA;
  border-radius 50%;
  height 25px;
  width 25px;
  top 30px;
  left 20px;
  margin 0 auto;
  text-align center;


ul li:hover .check
  border 3px solid blue;

ul li .check::before
  display block;
  position absolute;
  content '';
  border-radius 100%;
  height 15px;
  width 15px;
  top 4px;
  left 4px;
  margin auto;

input[type=radio]:checked ~ .check
  border 1px solid green;

input[type=radio]:checked ~ .check::before
  background #0DFF92;

input[type=radio]:checked ~ label
  color #0DFF92;
